

#container-voir_caddie main{
    display: flex;
    gap: 4rem;
    padding-left: 10%;
}

/* ===============================================  livres ========================================== */

#container-voir_caddie main .livres{
    width: 58%;
}

#container-voir_caddie main .livres .card{
    width: 100%;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--color-white);
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}

#container-voir_caddie main .livres .card .cancel-btn{
    position: absolute;
    background: var(--color-red);
    padding: 0.6rem 1rem;
    border-radius: 10px;
    right: 1rem;
    top: 1.1rem;
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
    transition: 0.2s ease-in;
    border-color: var(--color-red)  ;
}

#container-voir_caddie main .livres .card .cancel-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 5px 0 var(--color-red);
}

#container-voir_caddie main .livres .card .row{
    padding: 1rem 2rem;
}

#container-voir_caddie main .livres .card .row h4{
    font-weight: 600;
    color: var(--color-green-medium);
}

#container-voir_caddie main .livres .card .row p{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 0.875rem;
    color: #344767c3;
}

#container-voir_caddie main .livres .card .table{
    width: 100%;
    color: #67748e;
}

#container-voir_caddie main .livres .card .table tr{
    margin-bottom: 1rem;
}

#container-voir_caddie main .livres .card .table tr td{
    border-bottom: 1px solid #e9ecef;
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    text-align: left;
}

#container-voir_caddie main .livres .card .table tr .progress>span{
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 80%;
  height: 10px;
  display: block;
}

#container-voir_caddie main .livres .card .table tr .progress>span span{
  background-image: linear-gradient(-90deg, green 0%,red 100%);
  border-radius: 50px;
  /* width: 60%; */
  height: 100%;
  display: block;
}

#container-voir_caddie main .livres .card .table tr .total{
    color: var(--color-green-medium);
    font-weight: 600;
}

#container-voir_caddie main .livres .card .table tr td:first-child a:hover{
    color: var(--color-green-yellow);
  
}

#container-voir_caddie main .livres .card .table th{
    text-align: left;
    border-bottom: 1px solid #e9ecef;
    padding: 0.75rem 1.5rem;
    font-size: 0.78rem;
    color: #8392AB;
    opacity: 0.7;
    text-transform: uppercase;
}

/* =====footer table ========= */
#container-voir_caddie main .livres .table_footer{
    display: flex;
    justify-content: space-around;
    min-width: 520px;
    margin-top: 30px;
    padding-bottom: 15px;
    width: 100%;
  }

#container-voir_caddie main .livres  .next, #container-voir_caddie main .livres .previous{
    border-radius: 10px;
    background-image: linear-gradient(310deg, var(--color-green-bold) 0%, var(--color-green-medium) 100%);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.1s ease-in;
  }

 #container-voir_caddie main .livres  .previous:hover{
    transform: translateX(-5px);
    background-image: linear-gradient(310deg, var(--color-green-bold) 0%, var(--color-green-yellow) 100%);
}
 
#container-voir_caddie main .livres .next:hover{
    transform: translateX(5px);
    background-image: linear-gradient(310deg, var(--color-green-bold) 0%, var(--color-green-yellow) 100%);
  }
  
 #container-voir_caddie main .livres #pagination{
    display: flex;
    gap: 4%;
    width: 50%;
    justify-content: space-evenly;
  }

 #container-voir_caddie main .livres .ligne:hover{
      background-color: #ccc;
  }
  
#container-voir_caddie main .livres  .page{
      color: var(--color-white);
      padding: 5px 16px;
      border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.4s ease-in;
    background-image: linear-gradient(310deg, var(--color-green-bold) 0%, var(--color-green-medium) 100%);
  }
#container-voir_caddie main .livres  .active_page{
    background-image: linear-gradient(310deg,  var(--color-green-yellow) 0%, var(--color-green-medium) 100%);
  }

#container-voir_caddie main .livres  .page:hover{
    background-image: linear-gradient(310deg, var(--color-green-bold) 0%, var(--color-green-yellow) 100%);
  }


/* ================================================================  commande =================================================================== */

#container-voir_caddie main .register{
    width: 25%;
}

#container-voir_caddie main .register .card{
    width: 100%;
    height: 350px;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 40px;
}

#container-voir_caddie main .register .card h1{
    font-size: 1.2rem;
    color: var(--color-green-medium);
}

#container-voir_caddie main .register .card form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

#container-voir_caddie main .register .card form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#container-voir_caddie main .register .card form div input{
    width: 100%;
    border: 1px solid var(--color-green-yellow);
    border-radius: 10px;
    height: 35px;
    padding-left: 15px;
    color: var(--color-black-logo);
}

#container-voir_caddie main .register .card form> input{
    width: 60%;
    height: 40px;
    border-radius: 15px;
    background-color: var(--color-red);
    border: none;
    margin-top: 8px;
    color: var(--color-white);
    transition: 0.2s ease-in;
    font-weight: bold;
    font-size: 1rem;
}

#container-voir_caddie main .register .card form> input:hover{
    background-color: var(--color-green-medium);
    transform: scale(1.05);
}
